.ga-traffic-members:before,
.ga-traffic-members:after
{
	display: table;
	content: " ";
	clear: both;
}

.ga-traffic-members .ga-traffic-member { float: left; }
.ga-traffic-members .ga-traffic-member img,
#ga-checkin-search-results .ga-member img {  border-radius: 50%; margin-right: 8px; border: 3px solid #fff; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);  }

#ga-checkin-search-results { max-height: 250px; overflow-x: auto; margin-top: 8px; }